.categories{
    /* border:5px solid green;*/
     padding: 5vw 0;
     background-color: #EFEFEF;
  
}
.category-heading{
    font-family: gilroy-bold;
    text-align: center;
    text-transform: capitalize;
    color: #0a1a3c;
    margin: 4vw 0;
}
.categories-container{
    height: 70px;
    width: 50%;
   /* border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.1vw;
    margin: 0 auto;
    background-color: #D7D7D7;
    border-radius: 15vw;
}
.categories-container button{
    font-size: 1vw;
    font-weight: 400;
    padding: 1vw 2.1vw;
    border: none;
    border-radius:3vw;
    cursor: pointer;
    background-color:transparent;
    transition: background-color 0.3s;
}
.categories-container button:hover{
background-color: white;

}
 
.categories-container button.active {
    background-color: white;
  }        

.sort-items{
   display: flex;
   justify-content: flex-end;
   margin: 1vw 2vw;

}
.sort-items span{
    font-family: gilroy-bold;
    font-size: 1.1vw;
    padding:0.4vw;
    color: #0a1a3c;
}

#select {
    padding:0.2vw 0.1vw;
    font-size: 1.1vw;
    /*font-family: 'gilroy';*/
    color: #8d8d8d;
    font-family: gilroy-regular;
    border-color: #C4BFBE;
    cursor: pointer;
    font-weight: 800;
}

.products-list{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    padding:3vw 0;
    align-items: center;
    gap:3vw;
    flex-wrap: wrap;
    
}